*{
    margin:0 auto;padding:0;
}

h2{
    margin-left: 5%;
}

#busca {
    background-color: rgba(0,0,0,.5);
    color: rgb(235,235,235);
    text-shadow: 1.5px 1.5px 2.5px purple;
    border-radius: 20px;
    width: 200px;
    height: 33px;
    font-size: 16px;
    border: 2px solid rgba(255,255,255,.6);
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(235,235,235);
}

.anima{
    text-decoration: none;
    color: rgb(235,235,235);
}

.anima:hover{
    color: rgb(150,150,150);
    position: relative;
    bottom: 3px;
    text-decoration: none;
}

#menu{
    list-style-type: none;
    float: right;
}

#menu li {
    display: inline-block;
    padding: 18px;
}

#menu li a {
    text-decoration: none;
    color: rgb(235,235,235);
    font-size: 24px;
}

#menu li a:hover {
    color: rgb(150,150,150);
    position: relative;
    bottom: 3px
}


.textb {
    font-size: 65px;
    font-family: fantasy;
    color: rgb(235,235,235);
    text-shadow: 3px 3px 5px purple;
}

#suadiv{background-color: rgba(0,0,0,0);}

.textc{
    font-family: fantasy;
    font-size: 32px;
    color: rgb(235,235,235);
    text-shadow: 1.5px 1.5px 2.5px purple;
}

.topo{margin-top: 10px}

.basic{
    background-color: rgba(0,0,0,.4);
    width: 95%;
}

#corpo img{margin: 10px;}