*{margin: 10 auto; padding: 0;}

body{background-color: #444;}

h3{color: white;}

hr{border: 0;}

img{ width: 200; height: 400px;}

input{ width: 200px; height: 30px; background-color: darkred;
    margin: 10px; color: white; font-weight: bold;}

#C1 {width: 20px; height: 90px; background: black; position: relative; left: 180px; bottom: 278px}

#C2 {width: 20px; height: 89px; background: green; position: relative; left: 230px; bottom: 367px}

#C3 {width: 20px; height: 89px; background: blue; position: relative; left: 280px; bottom: 456px;}